<div style="padding:15px; color:white">

  <b> e-mails cadastrados</b>
  <ol style="padding:0px 0px 0px 35px">
    <% @interesteds.each do |u| %>
    	<li><%= u.email %></li>
    <% end %>
  </ol>
  
</div>