/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *=
*/

body{
  background-color: #25282d;
  font-family: helvetica;
  font-weight: bold;
  color: white;
}

input{
  border:0px;
  height: 20px;
  border-radius:5px;
  margin-left: 5px;
}

#landing_body form{
  float:left;
  margin:24px 0px 0px 10px;
}

/*#right_arrow{
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid white;
  cursor:pointer;
}

#left_arrow{
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 40px solid white;
  cursor:pointer;
}
*/
